.card {
  @apply inline-block;
  @apply w-16;
  @apply transition-transform;

  &:hover {
    @apply transform scale-110;

    .card__wrapper {
      @apply opacity-100;
    }
  }


  &__wrapper {
    @apply absolute right-0 bottom-0;
    @apply w-48;
    @apply opacity-0;
    @apply transform translate-y-16;
    @apply transition-opacity;
    @apply text-right;
  }

  &__thumbnail {
    @apply w-full h-96;
    @apply bg-no-repeat bg-cover bg-center;
    @apply mb-2;
  }

  &__tag-group {

  }

  &__title {
    font-family: 'Noto Serif KR', serif;
    @apply w-full;
    @apply overflow-hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}